<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Merbot is Telegram group guardian bot based on <a style="color:white" href="https://github.com/yagop/telegram-bot">telegram-bot</a> by Yago Pérez and <a style="color:white" href="https://github.com/uziins/uzzbot">uzzbot</a> by <a style="color:white" href="https://telegram.me/silenceangel">@silenceangel</a>.</p>
                <p class="text-faded">Merbot has almost everything you need to protect your Telegram group and running in no time! All of the code and plugins on merbot are open source, free to download, and easy to use. No strings attached!</p>
            </div>
        </div>
    </div>
</section>
