<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to protect your Telegram group with merbot? That's great! <a href="https://github.com/rizaumami/merbot/wiki/Installation">Deploy merbot now</a> and join us in <a href="https://telegram.me/joinchat/AfB26wGZCncqP8GjKOhrcw">merbot discussion group</a>!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://telegram.me/{{ site.telegram_username }}">
                <i class="fa fa-paper-plane fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}/merbot">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
